/* Add application styles & imports to this file! */
canvas {
    position: absolute;
  }
  
  body {
    background-color: rgb(43, 20, 1);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: clip;
  }  